@inherits LayoutComponentBase

<main>
    <nav>
        <ul>
            <li><NavLink href="/">Home</NavLink></li>
            <li><NavLink href="chat">Chat</NavLink></li>
        </ul>
    </nav>

    @Body
</main>
